@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 278 47% 74%;
    --primary-foreground: 278 47% 10%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 81 95% 67%;
    --accent-foreground: 81 95% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 2% 17%;
    --foreground: 0 0% 98%;
    --card: 240 2% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 240 2% 17%;
    --popover-foreground: 0 0% 98%;
    --primary: 278 47% 74%;
    --primary-foreground: 278 47% 10%;
    --secondary: 240 2% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 2% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 81 95% 67%;
    --accent-foreground: 81 95% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 2% 25%;
    --input: 240 2% 25%;
    --ring: 278 47% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    cursor: none;
  }

  a,
  button,
  [role="button"],
  input,
  select,
  textarea {
    cursor: none !important;
  }

  html {
    scroll-behavior: smooth;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: hsl(var(--muted-foreground) / 0.3);
    border-radius: 20px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--muted-foreground) / 0.5);
  }
}